.detailsContainer{
    display: grid;
    grid-template-columns: 300px auto;
   height: 100vh;
   overflow: auto;
}

.detail{
    display: flex;
    gap: 50px;
    position: absolute;
    top: 70px;
    left: 0px;
      display: flex;
      line-height: 30px;
}

.detailsCard{
    position: relative;
    height: 100vh;
}

.posterDetail img{
    width: 100%;
    max-width: 200px;
    min-width: 250px;
    height: auto;
}

.bg-color{
    background-color: rgba(0, 0, 0, 0.389);
    height: 100vh;
    overflow: auto;
}
.flexDetails{
    line-height: 30px;
    font-size: 18px;
        width: 90%;
        margin-top: 10px;
}
.flexDetails p span{
background: rgba(255, 255, 255, 0.2);
border-radius: 4px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
padding: 7px 20px;
}
.flexDetails p{
    margin: 30px 10px;
}
.navLinks{
    display: none;
}

.genreRate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}
/* .genre{
    display: flex;
    align-items: center;
    gap: 15px !important;
} */

 .contain{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                width: 100vw;
                margin: 0 auto;
              }

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@media(max-width: 1000px) {
    .detail{
        display: flex;
        flex-direction: column;
    }
    .posterDetail{
       display: none;
    }
}

@media(max-width:835px){
    .detailsContainer{
        display: grid;
        grid-template-columns: 0 auto;
    }
    .flexDetails{
        width: 100%;
    }
    
}
@media (max-width: 450px){
    
    .flexDetails p:nth-of-type(6){
    display: none;
}
}