#ratedImage{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 200px;
}

#ratedImage img{
    width: 100%;
    max-width: 300px;
    height: auto;
    cursor: pointer;
}
.watchlistBtns{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.RatedCard button{
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    background-color:  turquoise;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
   transition: 0.4s ease;
    border-radius: 10px;
}
.RatedCard button:hover{
    background-color: transparent;
    color: #fff;
    border: 1px turquoise solid;
}

.RatedCard button{
    display: flex;
    align-items: center;
    gap: 5px;
}

.ratedTitle{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.addRated{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.noImagery{
    width: 200px;
    height: 300px;
    border:  2px turquoise solid;
}
.noImagery p{
    margin: 5px 1px;
}
.noPosters{
    display: flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    height: 100%
}

.loader {
    display: flex;
    justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite
    }
    .loader::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid #FFF;
      animation: prixClipFix 2s linear infinite ;
    }

    @keyframes rotate {
      100%   {transform: rotate(360deg)}
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }