.newImg img{
    max-width: 350px;
    width: 100%;
    height: auto;
}
.newImg{
    width: 100%;
}

.comingCard{
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.genreCon{
    display: flex;
    align-items: center;
    gap: 3px;
}

.newText{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pageHeader{
    display:flex;
    justify-content: center;
    margin: 40px auto;
}

.pageHeader:hover{
    text-decoration: underline;
}

.burgerHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 98%;
}
.comingBurger{
    font-size: 35px;
}

.main-Container{
    display: grid;
    grid-template-columns: 300px auto;
    overflow: hidden;
    width: 100vw;
}
.comingSection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.newContainer{
    margin-left: 20px;
    padding: 30px 30px;
    width: 400px;
}
.newBtn{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
   width: 100%;
   margin: 10px auto;
}
.comingSect{
    overflow: auto;
    height: 100vh;
}
.comingSect::-webkit-scrollbar {
  width: 0;
}

.seeMoreText{
    width: 100%;
}

.seeMoreBtn{
    padding: 10px 20px;
    background-color: turquoise;
    border-radius: 10px;
}
@media(max-width:830px){
    .main-Container{
        display: grid;
        grid-template-columns: 0 auto;
        overflow: hidden;
    }
   
}